<h2>Ingredient</h2>
<% @ingredients.each do |ingredient| %>
  <div>
    <h2><a href="<%= ingredient_path(ingredient)%>"><%=ingredient.name%></a></h2>

    <p><%= link_to ingredient.name, ingredient %></p>
  </div>
<% end %>
