/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.site-header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cdeb8e+0,a5c956+100;Green+3D+%232 */
  background: #cdeb8e; /* Old browsers */
  background: -moz-linear-gradient(left,  #cdeb8e 0%, #a5c956 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #cdeb8e 0%,#a5c956 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #cdeb8e 0%,#a5c956 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=1 ); /* IE6-9 */


}
body {
  background-image: url("background pic.jpg");
  background-size: cover;

}
.site-header h1 {
    color: white;
  }

h1 {
  font-style: Helvetica;
  color: red;

  }

  img {
   height: 300px;
   width: 300px;
 }
