<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="jumbotron site-header">
      <div class="container text-center">
        <h1>My Recipe App <i class="fa fa-group"></i></h1>
      </div>
    </header>

    <div class="col-sm-12">
      <div class="container text-center">
        <%= yield %>

      </div>
    </div>
  </body>
</html>

<footer id="footer">
    <p>&copy; 2016 Adrienne Dao<p>
</footer>
      
